<div id="container-exp">
	<div id="trial">
		<div id="exp" class="exp">
		<p id="expLabel">
		(This is dynamically changed)
		</p>
		<table>
		<tr>
		<td> <img id="bact1" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact2" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact3" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact4" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact5" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact6" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact7" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact8" src="/static/images/normal.jpg" alt="Culture"> </td>
		</tr>
		<tr>
		<td> <img id="bact9" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact10" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact11" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact12" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact13" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact14" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact15" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact16" src="/static/images/normal.jpg" alt="Culture"> </td>
		</tr>
		<tr>
		<td> <img id="bact17" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact18" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact19" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact20" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact21" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact22" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact23" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact24" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="indicator" src="/static/images/indOff.jpg" alt="Indicator"> <td/>
		</tr>
		<tr>
		<td> <img id="bact25" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact26" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact27" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact28" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact29" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact30" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact31" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact32" src="/static/images/normal.jpg" alt="Culture"> </td>
		</tr>
		<tr>
		<td> <img id="bact33" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact34" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact35" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact36" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact37" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact38" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact39" src="/static/images/normal.jpg" alt="Culture"> </td>
		<td> <img id="bact40" src="/static/images/normal.jpg" alt="Culture"> </td>
		</tr>
		</table>
		<form align="center"> <input type="button" id="beginButton" value="Click to Begin"/> </form>
		</div>


		<div id="interim1" class="interim1">
		<br/><br/> <form>
		And 60 seconds is UP!<br/><br/>
		Take a moment to recall what you just saw, then proceed to the next visualization by clicking "Show Me!"
		<br/><br/>
		<input type="button" id="nextButton" value="Show Me!">
		</form>
		</div>
	</div>
</div>